<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} - AnyContent</title>
    {% block head %}
        {% include '@AnyContentBackend/_head.html.twig' %}
    {% endblock %}
</head>

<body class="layout-default {% if anycontent.context.canDoTimeshift %}{% if timeshift.active %}body-timeshift{% endif %}{% endif %}">
{% block body %}

    {% block navbar %}
        {% block navbar_top %}
            {% include '@AnyContentBackend/_navbar_top.html.twig' %}
        {% endblock %}
        {% block navbar_bottom %}
            {% include '@AnyContentBackend/_navbar_bottom.html.twig' %}
        {% endblock %}
    {% endblock %}


    <div class="container">
        {% block content_before %}{% endblock %}

        {% include '@AnyContentBackend/_messages.html.twig' %}

        {% block content %}{% endblock %}

        {% block content_after %}{% endblock %}
    </div>

    {% include "@AnyContentBackend/_modals.html.twig" %}

{% endblock %}
</body>
</html>